<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th = "http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="well">
            <p>
                <a href="#" th:href="@{/addStudent}">新增學生</a>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>classroom</th>
                        <th>chineseScore</th>
                        <th>mathScore</th>
                        <th>englishScore</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="s : ${student}">
                        <td th:text="${s.id}">xx</td>
                        <td th:text="${s.name}">xxx</td>
                        <td th:text="${s.classroom}">xxx</td>
                        <td th:text="${s.chineseScore}">0</td>
                        <td th:text="${s.mathScore}">0</td>
                        <td th:text="${s.englishScore}">0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
